   .menu-button {
    display: none;
}

  .nav {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);

  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    text-align: left;

    
  }
  
  .nav li {
    margin: 10px 0;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

  .menu-toggle {
    display: none;
  }







  @media (min-width: 9000px) {

    .menu-toggle {
        display: none;
      }
      
      .menu-button {
        display: block;
        width: 30px;
        height: 22px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
      
      .menu-button span {
        display: block;
        background-color: black;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
      }
      
      .nav {
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
    
      }
      
      .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .nav li {
        margin: 10px 0;
      }
      
      .nav a {
        color: #fff;
        text-decoration: none;
        font-size: 24px;
      }
      
      /* lorsque c'est coché */
      .menu-toggle:checked ~ .nav {
        display: block;
      }
    
      /* lorsque c'est pas coché */
      .menu-toggle:not(:checked) ~ .nav {
        display: none;
      }
    
    }