.active {
    background-color: #04AA6D;
    color: white;
}


/* Menu burger test */

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Cache le menu par défaut */
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: block;
    cursor: pointer;
}

label span {
    display: block;
    height: 2px;
    width: 25px;
    background: #fff;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked ~ ul {
    display: block;
}

input[type="checkbox"]:checked + label span {
    background-color: transparent;
}

input[type="checkbox"]:checked + label span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

input[type="checkbox"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[type="checkbox"]:checked + label span:nth-child(3) {
    transform:  
 rotate(-45deg) translate(7px, -7px);
}






/* GRID test */

.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: minmax(50px, auto);
    gap: 20px;
    padding: 10px;
  }
  
  .box {
    background-color: #a336ce;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box1 {
    background-color: #922020;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box2 {
    background-color: #08a522;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box3 {
    background-color: #c4e216;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box4 {
    background-color: #6d2f2f;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box5 {
    background-color: #d40175;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box6 {
    background-color: #914f65;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box7 {
    background-color: #313131;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }

  .box8 {
    background-color: #4d2edb;
    border: 1px solid #000000;
    text-align: left;
    padding: 20px;
    color: #fff;
  }