.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}
button{
    background-color: lime;
    border-radius: 10px;
    padding: 10px;
    border-color: red;
}