.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.boxhaute {
    text-align: justify;
    padding: 20px;
    border-style: solid; color: black; border-width: 1px;
}

.boxcourte {
    text-align: left;
    padding: 10px;
    border-style: solid; color: black; border-width: 1px;
}

.boxcourte2 {
    text-align: left;
    padding: 5px;
    border-style: solid; color: black; border-width: 1px;
}